# Add the environment variables for the various stages
prod:
  API_URL: "https://api.pro.coinbase.com"
  API_KEY: ""
  API_SECRET: ""
  API_PASSPHRASE: ""
dev:
  API_URL: "https://api-public.sandbox.pro.coinbase.com"
  API_KEY: ""
  API_SECRET: ""
  API_PASSPHRASE: ""
